 *{
     margin: 0;
     padding: 0;
     list-style: none;
     text-decoration: none;
     box-sizing: border-box;
 }
 header{
     width: 100%;
     height: 80px;
     display: block;
     background-color: lightblue;
 }
 .inner-header{
     width: 1000px;
     height: 100%;
     display: block;
     margin: 0 auto; 
 }
 .logo-container{
     height: 100%; 
     display: table;
     float: left;
 }
 .logo-container h1{
     color: black;
     height: 100%;
     display: table-cell;
     vertical-align: middle;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 32px;
     font-weight: 200;
 }
 .logo-container h1 span{
     font-weight: 800;
 }
 .navigation{
     float: right;
     height: 100%;
 }
 .navigation a{
     height: 100%;
     display: table;
     float: left;
     padding: 0px 20px;
 }
 .navigation a li{
     display: table-cell;
     vertical-align: middle;
     height: 100%;
     color: black;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size-adjust: 16px;
 }
body{
    background-color: #00093c;
}
html{
    font-size: 62.5%;
}
.container{
    background-color: #00093c;
}
.container .heading{
    font-size: 3rem;
    padding: 2rem 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0 .5rem 1rem #000;
    color: #fff;
}
.container .music-container{
    display: flex;
    align-items: center;
    flex-flow: column;
}
.container .music-container .box{
    height: 16rem;
    width: 80%;
    display: flex;
    align-items: center;
    background: #f9f9f9;
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem #000;
    overflow: hidden;
    margin: 2rem;
}
.container .music-container .box .image{
    height: 100%;
    width: 25%;
}
.container .music-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.container .music-container .box .music{
    width: 75%;
}
.container .music-container .box .music audio{
    width: 100%;
    outline: none;
}
.container .music-container .box .music audio::-webkit-media-controls-eclosure{
    background: none;
}
@media (max-width:600px){
    .container .music-container .box{
        height: 27rem;
        width: 90%;
        flex-flow: column;
    }
    .container .music-container .box .image{
        height: 80%;
        width: 100%;
    }
    .container .music-container .box .music{
        height: 20%;
        width: 100%;
    }
}
.heading{
    text-align: center;
}
.header-img{
    width: 100%;
    height: auto;
}